body {
    font-family: Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(3,99,99);
}
.header{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    background-color: rgb(3, 99, 99);
    color: black;
    z-index: 2;
}
.site-header {
    background-color:rgb(3, 99,99);
    color: white;
    text-align: center;
}
div img {
height: 500px;
border: 3px solid rgb(3,99,99);
width: 100%;
}
.site-header .main-nav a {
color: rgb(3, 99, 99);
text-decoration: none;
margin: 0 12px;
}
.site-header .main-nav .active {
font-weight: bold;
}


.products {
    display: grid;
    justify-content: center;
    gap: 50px;
    padding: 50px;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}

.card {
    background: white;
    padding: 10px;
    width: 260px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid rgb(3,99,99);
    box-shadow: 0 4px 8px black;

}
.card:hover{  
transform: scale(1.1);
}

.card img {
    width: 250px;
    height:350px;
    border-radius: 10px;
}
.card-price{
color: #e20d1e;
font-size: 18px;
margin: 8px 0;
}
button {
    background-color: rgb(3,99,99);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.3s ease ;
}

button:hover {
    background-color: rgb(9,46,46);
    transform: scale(1.05);
}
button:active {
transform: scale(0.95);
}
.site-footer {
    text-align: center;
    padding: 12px;
    background-color: rgb(3,99,99);
    margin: 25px;

}